@charset "utf-8";

main {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding-top: 100px;
}

main>div {
    width: 910px;
    height: auto;
    margin: 0 auto;
}

main>div>img {
    width: 100%;
    height: 100%;
}